.sidebar{
  &__list-menu{
    overflow-y: overlay;
    &:hover::-webkit-scrollbar { display: initial; }
    &::-webkit-scrollbar { display: none; }
    &::-webkit-scrollbar { 
      width: 12px; 
    }
    &::-webkit-scrollbar-track { 
      background-color: transparent;
      border-width: 0;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background-color: #525252;
      border-style: solid;
      border-color: transparent;
      border-width: 4px;
      background-clip: padding-box;
    }
    /* hidden elements */
    &::-webkit-scrollbar-button,
    &::-webkit-scrollbar-track-piece,
    &::-webkit-scrollbar-corner,
    &::-webkit-resizer { display: none; }
  }

  @media (max-width: 992px){
    .sidebar{
      &__list-menu{
        overflow-y: unset;
      }
    }
    .collapse{
      &:hover{
        .body-menu{
          display: block;
        }
      }

      &__header{
        & > div{
          padding-left: 0px;
          & > a{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      &__body{
        height: 0px !important;

        .body-menu{
          display: none;
          position: absolute;
          z-index: 1;
          top: calc(100% + 8px);
          left: 15px;
          margin-top: 0px;
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          padding: 8px;
          width: max-content;
          margin-left: 0px;

          &:before {
            content: '';
            display: block;
            width: calc(100% + 15px);
            height: 10px;
            position: absolute;
            top: -10px;
            left: -15px;
          }
        }
      }
    }
  }
}

@media (min-width: 993px){
  .tooltip__content.tooltip-menu{
    display: none;
  }
}